:root {
    --sky-color: rgba(0, 182, 237, .7);
}

.width-80 {
    width: 80%;
    margin: auto;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
}

main {
    margin: auto;
    padding-bottom: 50px;
}

header {
    background-color: var(--sky-color);
    color: white;
}

header .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .head h1 { font-size: 25px; padding: 22px 0; }
header .head p { font-size: 15px; font-weight: 200; }

section.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 50px;
}

section.search input {
    padding-left: 30px;
    padding-top: 14px;
    padding-bottom: 13px;
    width: 100%;
    margin-right: 15px;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 200;
    border: none;
    background-color: #F4F4F4;
}

section.search input::placeholder {
    font-weight: 100;
    font-size: 17px;
}

section.search input:focus {
    outline: none;
}

section.search button {
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    padding: 13px 33px;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: var(--sky-color);
}

section.weather-result {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-top: 50px;
    border-radius: 10px;
    padding: 25px 30px;
    box-sizing: border-box;
    color: white;
    background-image: linear-gradient(125deg, #0080ED, #00B6ED);
}

section.weather-result .top {
    display: flex;
    justify-content: space-between;
}

section.weather-result .top .city p:first-child {
    font-size: 40px;
    font-weight: 600;
}

section.weather-result .top .city p:last-child {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 200;
}

section.weather-result .top .celcius {
    text-align: center;
}

section.weather-result .top .celcius p:first-child {
    font-size: 75px;
    font-weight: 200;
}

section.weather-result .bottom {
    margin-top: 199px;
    display: flex;
    justify-content: space-between;
}

section.weather-result .bottom .temp-info,
section.weather-result .bottom .wind,
section.weather-result .bottom .phv {
    display: flex;
}

section.weather-result .bottom .temp-info .temp { margin-right: 30px; }
section.weather-result .bottom .temp-info .temp p:first-child { font-size: 15px; font-weight: 500; }
section.weather-result .bottom .temp-info .temp p:last-child { font-size: 25px; font-weight: 200; margin-top: 5px; }

section.weather-result .bottom .temp-info .temp-min { margin-right: 30px; }
section.weather-result .bottom .temp-info .temp-min p:first-child { font-size: 15px; font-weight: 500; }
section.weather-result .bottom .temp-info .temp-min p:last-child { font-size: 25px; font-weight: 200; margin-top: 5px; }

section.weather-result .bottom .temp-info .temp-max p:first-child { font-size: 15px; font-weight: 500; }
section.weather-result .bottom .temp-info .temp-max p:last-child { font-size: 25px; font-weight: 200; margin-top: 5px; }

section.weather-result .bottom .wind .speed { margin-right: 30px; }
section.weather-result .bottom .wind .speed p:first-child { font-size: 15px; font-weight: 500; }
section.weather-result .bottom .wind .speed p:last-child { font-size: 25px; font-weight: 200; margin-top: 5px; }

section.weather-result .bottom .wind .degree p:first-child { font-size: 15px; font-weight: 500; }
section.weather-result .bottom .wind .degree p:last-child { font-size: 25px; font-weight: 200; margin-top: 5px; }

section.weather-result .bottom .phv .pressure { margin-right: 30px; }
section.weather-result .bottom .phv .pressure p:first-child { font-size: 15px; font-weight: 500; }
section.weather-result .bottom .phv .pressure p:last-child { font-size: 25px; font-weight: 200; margin-top: 5px; }

section.weather-result .bottom .phv .humidity { margin-right: 30px; }
section.weather-result .bottom .phv .humidity p:first-child { font-size: 15px; font-weight: 500; }
section.weather-result .bottom .phv .humidity p:last-child { font-size: 25px; font-weight: 200; margin-top: 5px; }

section.weather-result .bottom .phv .visibility p:first-child { font-size: 15px; font-weight: 500; }
section.weather-result .bottom .phv .visibility p:last-child { font-size: 25px; font-weight: 200; margin-top: 5px; }

/* 
    STYLE ON TABLET
    768px (portrait)
*/

@media (min-width: 768px) and (max-width: 1024px) { 
    header .head h1 { font-size: 20px; }
}